@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700;800&family=Inter:wght@400;700&display=swap');

/* reset */
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-family: 'Inter', sans-serif;
}

/* base css */
body{
    background: #161616;
    overflow: hidden;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
}

/* header start */
.container .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container .header:before{
    content: "STEPINSTYLE";
    position: absolute;
    top: 58%;
    left: 48%;
    color: rgba(180,164,164,.68);
    font-size: 95px;
    font-weight: 700;
    letter-spacing: 5px;
    opacity: .2;
    z-index: -1;
}

.container .header i{
    cursor: pointer;
}

.container .header p{
    font-size: 25px;
    font-weight: 700;
}

.container .header .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container .header .logo .logo-span .line{
    display: block;
    padding-top: 4px;
    width: 45px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
    margin-right: 4px;
}
/* header end */

/* left section start */
.container .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container .row .col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.container .row .col-2 h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 3px;
    margin: 25px 0;
}

.container .row .col-2 p{
    font-size: 14px;
    line-height: 25px;
}

.container .row .col-2 .btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    background-color: #e0484e;
    border-radius: 35px;
    margin-top: 35px;
    font-weight: bold;
    font-size: 15px;
    transition: .6s all ease-in;
}

.container .row .col-2 .btn:hover{
    opacity: .6;
}
/* left section end */

/* animate section start */
.container .row .col-2 img{
   width: 100%;
   max-width: 580px;
}

#circle-ring{
    padding-left: 130px;
    padding-top: 60px;
}

.container .row .col-2 .animate{
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    z-index: -1;
}

.container .row .col-2 .animate:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #fff12e;
    border-right: 3px solid #fff12e;
    border-radius: 50%;
    z-index: -1;
    animation: circle 10s linear infinite;
}

.container .row .col-2 .circle{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 4px;
    transform-origin: left;
    animation: return 10s linear infinite;
    z-index: -1;
}

.container .row .col-2 .circle:before{
    content: "";
    position: absolute;
    top: -6px;
    right: -9px;
    width: 16px;
    height: 16px;
    background: #fff12e;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff12e;
    z-index: -1;
}


.container .row .col-2 .animate-2{
    position: absolute;
    top: 13%;
    left: 56%;
    width: 500px;
    height: 500px;
    background: transparent;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    border: 3px solid #3c3c3c;
    border-radius: 50%;
}

.container .row .col-2 .animate-2:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-bottom: 3px solid #fff12e;
    border-left: 3px solid #fff12e;
    border-radius: 50%;
    animation: circleTwo 10s linear infinite;
}

.container .row .col-2 .circle-2{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 4px;
    transform-origin: left;
    animation: returnTwo 10s linear infinite;
}

.container .row .col-2 .circle-2:before{
    content: "";
    position: absolute;
    top: -6px;
    right: -10px;
    width: 16px;
    height: 16px;
    background: #fff12e;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff12e;
}



/* animation keyframes start */
@keyframes circle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes circleTwo {
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(-405deg);
    }
}

@keyframes return {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(405deg);
    }
}

@keyframes returnTwo {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
/* animation keyframes end */
/* animate section end */
/* home section end */